/*******************************
            Folders
*******************************/

@themesFolder : 'themes';
@siteFolder  : '../../src/semantic-ui/site';

/*******************************
         Import Theme
*******************************/

@import (multiple) '~semantic-ui-less/theme.less';
@fontPath : '../../../themes/@{theme}/assets/fonts';